body {
    font-family: Arial, Helvetica, sans-serif;
}
.addressItem label {
    display: inline-block;
    width: 300px;
   
}

.phoneNumItem {
    width: fit-content;
    position: relative;
}

.phoneNumItem button {
    position: absolute;
    background-color: inherit;
    border: 1px solid white;
    box-sizing: border-box;
    font-size: 10px;
}

.phoneNumItem button:hover {
    border: 1px solid;
}


.addressItem {
    border-bottom: 2px solid gray;
    width: fit-content;
    padding: 5px;
}



.addressItem button {
    border: 0;
    background-color: inherit;
    border: 1px solid white;
    box-sizing: border-box;
}

.addressItem button:hover {
    border: 1px solid;
    box-sizing: border-box;
    cursor: pointer;
}


.adder_wrapper button {
    width: 60px;
    height: 30px;
    background-color: black;
    color: white;

}

.adder_wrapper button {
    width: 200px;
    height: 30px;
}


/*--------------Form Styling-------------*/

.formWrapper {
    width: 30%;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

.formWrapper > label {
    font-size: x-large;
    color: darkgray;
    display: block;

}

.inlineElement {
    margin: 10px;
}

.inlineElement input {
    width: 67%;
    height: 2vh;
}

.inlineElement label {
    text-align: left;
    width: 30%;
    display: inline-block;
}

.PhoneElemWrapper {
    display: flex;
}

.PhoneElemWrapper label {
    
}


